.layout-main {
  display: flex;
  height: calc(100vh - 0px);
  overflow: hidden;
  font-family: Roboto;
  background-color: white;
}
.side-nav-layout {
  background-color: #374baa;
}
.rendered-layout {
  overflow: hidden;
  width: 100%;
}
.rendered-layout-collapse {
  width: calc(100% - 76px) !important;
}
.scrollable-layout {
  padding: 5px 5px 0px 7px;
  height: calc(100vh - 3.6rem);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

@media (max-width: 1024px) {
  .side-nav-layout {
    display: none;
  }
}

.payment-class {
  width: 12px;
}
