.loginMainBody {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: #e5e5e5;
}

.brandLogo {
  text-align: left;
}

.brandLogo img {
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login-body {
  width: 45%;
  max-width: 533px;
  min-height: 540px;
  max-height: 540px;
  border-radius: 0.625rem;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3.5%;
  box-shadow: 3px 6px 21px rgba(0, 0, 0, 0.1);
  z-index: 22;
}

.loginContent {
  width: 80%;
}

.loginContent h2 {
  font-size: 1.75rem;
  margin: 0px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.loginContent p {
  font-size: 0.75rem;
  color: #919191;
  font-weight: 400;
  margin: 0;
  padding: 0.5rem 0;
  width: 80%;
}

.loginContent .inputItem {
  margin: 0.25rem 0 1rem;
  position: relative;
}

.inputItem label {
  font-size: 0.75rem;
  font-weight: 500;
  color: #5d5d5d;
  display: block;
  margin-bottom: 0.25rem;
}
.loginContent .p-password {
  width: 100%;
}
.inputItem input {
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 2.15rem;
  outline: none;
  padding: 0 1.25rem 0 0.75rem;
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 0.15rem;
}

.inputCheckboxItem label {
  font-size: 0.75rem;
  font-weight: 400;
  color: #5d5d5d;
  display: block;
  padding-left: 0.5rem;
}
.inputCheckboxItem .p-checkbox {
  transform: scale(0.8);
}

.inputCheckboxItem input {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.loginContent .inputCheckboxItem {
  margin: 1.25rem 0 0.75rem;
}

.inputCheckboxItem h6 {
  font-size: 0.75rem;
  margin: 0px;
  color: #fc6b37;
  display: inline-block;
  cursor: pointer;
}

.submitFormItem {
  margin: 0.75rem 0;
}

.submitFormItem .btn {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: rgba(55, 74, 170, 0.7450980392);
  color: white;
  border-radius: 1.5rem !important;
  padding: 0.65rem 0.75rem !important;
  outline: none;
  border: none;
}

.submitFormItem .btn:hover {
  background-color: #374baa;
}
.sign-up-section {
  margin: 0.45rem 0;
  position: relative;
  text-align: center;
}
.sign-up-section h6 {
  font-size: 0.75rem;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  color: #8c8c8c;
  background-color: white;
  padding: 5px 10px;
}
.sign-up-section h6::after {
  background: #8c8c8c;
  content: '';
  position: absolute;
  height: 1px;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0.875rem;
  z-index: -1;
}
.sign-up-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0.5rem 0;
}
.sign-up-section ul li {
  display: inline-block;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  margin-right: 3%;
  // width: 47%;
  cursor: pointer;
  line-height: 1;
  border: none;
  box-shadow: 2px 2px 4px #918b8ba1;
}
.sign-up-section ul li:last-child {
  margin-right: 0%;
}
.sign-up-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-mail span {
  font-size: 0.75rem;
  padding-left: 0.75rem;
  font-weight: 400;
  color: #8c8c8c;
}
.sign-up-mail i {
  height: 18px;
}

.login-right-body {
  min-height: 600px;
  max-height: 600px;
  border-radius: 20px;
  max-width: 533px;
  width: 45%;
  background-image: url(../../assets/img/login/LoginBackground.svg),
    linear-gradient(to bottom, #3247ad, #0f1c5e);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 35px 5% 35px 2.5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  z-index: 2;
  & h3 {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.3;
    margin: 0rem 0 3rem;
    letter-spacing: 0px;
  }
  & p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: #d4d4d4;
    margin: 1.5rem 0;
  }
  & img {
    max-width: 90%;
    height: 210px;
    width: 70%;
    margin: 4rem 0 0;
  }
}
.dotGridImgTR {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.dotGridImgBL {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

// .loginImg {
//   position: absolute;
//   top: 2rem;
//   left: -10rem;
// }
// .inputItem i {
//   position: absolute;
//   right: 10px;
//   top: 1.9rem;
//   cursor: pointer;
// }

@media (max-width: 769px) {
  .login-body {
    margin: 0;
  }
  .login-body {
    width: 60%;
  }
  .login-right-body {
    display: none;
  }
  .login-right-body h3 {
    font-size: 1.7rem;
  }
  .login-right-body p {
    font-size: 0.8rem;
  }

  .loginContent h2 {
    font-size: 1.7rem;
  }
  .sign-up-section ul li {
    width: 100%;
    margin: 0%;
  }

  .brandLogo {
    text-align: center;
  }
}

@media (max-width: 426px) {
  .login-body {
    width: 90%;
    min-height: 80vh;
    max-height: 80vh;
    padding: 4vh 0;
  }

  .brandLogo img {
    margin-bottom: 15px;
  }

  .loginContent {
    width: 85%;
  }

  .loginContent h2 {
    font-size: 1.5rem;
  }

  .loginContent p {
    width: 90%;
  }

  .loginContent .inputItem {
    margin: 1rem 0;
  }

  .loginContent .inputCheckboxItem {
    margin: 1.5rem 0 0.75rem;
  }

  .submitFormItem {
    margin: 1.25rem 0 1rem;
  }
}
