.manageUserFromClass {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 9px;
}

.manageUserFromClass input {
  border: 1px solid #cecece !important;
  color: #707070 !important;
  letter-spacing: 0;
}

.manageUserFromClass .formLabel {
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
}
