.recharge-body {
  padding: 0.25rem;
}

.offline-reacharge-content {
  margin: 0.5rem;
}

.wallet-funds {
  padding: 1rem 1.75rem;
  border-radius: 9px;
  background-image: url('../../assets/img/super-admin/recharge/wallet-fund-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid #cecece47;
  box-shadow: 0px 3px 6px #a7c9fa40;

  & img {
    height: 69px;
    width: 69px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 20px;
    color: #0eb700;
    margin: 0.25rem 0 0.25rem 0;
    padding: 0;
  }

  & h5 {
    font-size: 15px;
    font-weight: 500;
    color: #001248;
    margin: 0.25rem 0 0.25rem 0;
    padding: 0;
  }
}

.pl-0 {
  padding-left: 0;
}

.wallet-funds p {
  font-size: 12px;
  color: #626262;
  margin: 0;
  padding: 0;
}

.add-reacharge {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  border: 1px solid #f0f0f0;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #a7c9fa40;
}
.offline-recharge-form {
  padding: 5px;
}
.offline-recharge-form input {
  border: 1px solid #cecece !important;
  color: #707070 !important;
  letter-spacing: 0;
}

.offline-recharge-form .formLabel {
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
}

.offline-recharge-form .p-inputtextarea {
  height: 60px;
  width: 100%;
}

//upload-file scss

.upload-wrapper label {
  font-size: 12px;
  color: #212529;
  font-weight: 600;
  padding: 0px 0px 10px 0px;
}

.upload-file-section {
  margin: 0px 0px;
  border: 2px dashed #b5c2ff;
  position: relative;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
}

.upload-file {
  -webkit-appearance: none;
  height: 135px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0 0.5rem;
  border-radius: 10px;
  width: 100%;
  padding-top: 15px;
}

.upload-file input[type='file'] {
  outline: none;
  width: 100%;
  margin: auto;
  height: 95px;
  position: absolute;
  cursor: pointer;
  color: transparent;
  top: 9px;
  opacity: 0;
}

.upload-file p {
  color: #646464;
  font-size: 13px;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  margin-top: 2px;
}

.upload-file p span {
  color: #374baa;
}

.upload-file u {
  font-size: 10px;
  position: relative;
  color: #cbcbcb;
  top: -5px;
}

.chip-tm {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.chip-tm .p-chip {
  padding: 0 0.5rem 0 0.75rem;
  margin-top: 0.25rem;
  border-radius: 35px;
}

.chip-tm .p-chip-text {
  font-size: 0.75rem;
  font-family: Roboto;
  font-weight: 500;
}

.total-transaction-table {
  margin: 0;
  padding: 0;
  & h5 {
    font-size: 16px;
    font-weight: 500;
    color: #001248;
    margin: 0 0 10px 0;
    padding: 0;
  }
}

.chip-tm .p-chip-text {
  font-size: 0.75rem;
  font-family: Roboto;
  font-weight: 500;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}
