.default {
  background: #374baa;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
  font-weight: 400 !important;
  border: none;
}

.cancel {
  font-weight: 400 !important;
  background: #cf0404;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
  border: none;
  border: none;
}
.cancel:hover {
  background: #8f0202 !important;
}
.default:hover {
  background: #89a3cc !important;
}

.pp-button-secondaryv1 {
  background: #808080;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
}

.pp-button-secondaryv1:hover {
  background: #5a5a5a !important;
  font-size: 12px !important;
  transition-duration: 0.4s;
}

.pp-button-successv1 {
  background: #50c878;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
}

.pp-button-successv1:hover {
  background: #228b22 !important;
  font-size: 12px !important;
  transition-duration: 0.4s;
}

.pp-button-warningv1 {
  background: #f99229;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
}

.pp-button-warningv1:hover {
  background: #df8200 !important;
  font-size: 12px !important;
  transition-duration: 0.4s;
}

.pp-button-dangerv1 {
  background: #d70040;
  padding: 5px 10px !important;
  margin-right: 5px;
  font-size: 12px !important;
  border-radius: 5px;
}

.pp-button-dangerv1:hover {
  background: #954535 !important;
  font-size: 12px !important;
  transition-duration: 0.4s;
}

.info {
  background: #2196f3;
  padding: 5px 10px !important;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
}

.info:hover {
  background: #69b8f8 !important;
}

@media only screen and (max-width: 960px) {
  .secondary .primary .info {
    padding: 4px 8px;
    font-size: 12px;
  }
}

.vvvv-confirmn {
  padding: 10px 0px 0px;
  justify-content: end;
}
