.manageUserFromClass {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #a7c9fa40;
}
.manageUserFromClass input {
  border: 1px solid #cecece !important;
  color: #707070 !important;
  letter-spacing: 0;
}
.manageUserFromClass .formLabel {
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
}
