.custom-in-mask .p-filled {
  letter-spacing: 8px !important;
}

.custom-in-mask .p-float-label label {
  top: -35% !important;
}

.custom-in-mask .p-float-label label {
  margin-top: 0.1rem;
}

.log-input {
  position: relative;
}

.custom-in-mask label {
  font-size: 12px !important;
  font-weight: 600;
}

.custom-in-mask input:focus {
  box-shadow: none !important;
}
