.btn-main {
  position: relative;
  color: white;
  background: #000 !important;
  border: 2px solid #000 !important;
  border: none;
  outline: none;
  padding: 0px 10px !important;
  text-transform: uppercase;
  transition: 0.5s;
  margin: 5px 0px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  text-transform: capitalize;
  font-size: 14px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  // height: 26px !important;
}

.btn-main:hover {
  opacity: 0.8;
}

.btn-main:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  height: 31.5px;
}

.btn-main button:focus {
  outline: none;
}
