.clientInfo-body {
  box-sizing: border-box;
}
.content-header {
  font-size: 14.5px;
  font-weight: 500;
  color: #001248;
  margin: 0.25rem 0 0.25rem 0.5rem;
  padding: 0;
  padding-top: 5px;
  span {
    font-size: 13px;
  }
}
.content-header::after {
  content: '';
  display: block;
  height: 2px;
  width: 125px;
  position: relative;
  background-color: #001248;
  top: 2px;
  left: -6px;
}
.top-sec-li {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

.aggregatorInfo-top-sec {
  padding: 0.5rem 0.75rem 0.5rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 3px 6px #a7c9fa66;
  border-radius: 5px;
  height: 100%;
  & h5 {
    font-size: 13px;
    font-weight: 500;
    margin: 0.5rem 0;
    color: black;
    padding: 0;
  }
  & span {
    font-size: 13px;
    color: #4e4e4e;
  }
}

.budget-sec {
  width: 100%;
}
.budget-sec ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.budget-sec ul li {
  display: inline-block;
  width: 25%;
}
.budget-sec ul li:last-child {
  margin-right: 0;
}

.budget-sec-card {
  padding: 0.35rem 0.5rem 0.35rem 1rem;
  border-radius: 0px;
  border-right: 1px solid #dbe5f0;
  & h6 {
    font-weight: 400;
    font-size: 15px;
    color: #4e4e4e;
    line-height: 16px;
    padding: 6px 0px;
    margin: 0;
    & span {
      font-weight: bold;
      padding-top: 4px;
      display: block;
    }
  }
}
.budget-sec ul li:last-child .budget-sec-card {
  border-right: none;
}
.credit-amt-card {
  & h6 {
    & span {
      color: #178e0d;
    }
  }
}
.redeemed-amt-card {
  & h6 {
    & span {
      color: #9b5114;
    }
  }
}
.available-amt-card {
  & h6 {
    & span {
      color: #1c3b9d;
    }
  }
}
.commision-earned {
  & h6 {
    & span {
      color: #1c3b9d;
    }
  }
}

.client-info-card {
  margin: 0.5rem 0.75rem;
  border-radius: 9px;
  padding: 0;
  box-shadow: 0px 3px 6px #d5e8ff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem 0.75rem;

  .client-details {
    padding: 0.5rem;
    width: 100%;
    color: white;
    border-bottom: 1px solid #bccffd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0rem;
      color: black;
      padding: 0;
    }
    h6 {
      font-weight: 400;
      font-size: 12.5px;
      color: #4e4e4e;
      margin-bottom: 0.25rem;
      padding: 0;
    }
  }
  .client-transaction-details {
    padding: 0.5rem 0.25rem;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      li {
        display: inline-block;
        width: 33.3%;
        .details-div {
          padding: 0px 0.25rem;
          text-align: left;
          h6 {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 0.25rem;
            span {
              display: block;
              font-size: 12px;
              font-weight: 600;
              margin: 0.35rem 0 0.25rem;
            }
          }
        }
      }
    }
  }
}

.dropdownFilter {
  position: relative;
}
.dropdownFilterLi {
  margin: 0;
  padding: 0 !important;
  float: right;
}
.dropdownFilterLi:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
