.vegaPro-body {
  margin: 0;
  padding: 0 0.25rem 0.25rem;
}

.sendToFew-body {
  box-sizing: border-box;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.brand-section {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-section h1 {
  font-size: 14px;
  margin: 0px;
  padding: 0px 0px;
  font-weight: 600;
}

.box-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  padding: 0 0.25rem;
}

.box-header h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #001248;
  padding: 0;
}

.box-header span {
  font-size: 12px;
  font-weight: 400;
  color: #8d8d8d;
}

.coupon-zero-inventory .box-header h2 {
  color: #cb0000;
}

.dropdown-brand .p-dropdown {
  margin: 0.25rem 0px 1rem;
  height: 2.2rem;
  width: 100%;
  font-family: Roboto;
  border: 1px solid #cecece;
}

.dropdown-brand .p-dropdown-item {
  font-size: 12px;
}

.dropdown-brand .p-dropdown .p-dropdown-trigger {
  width: 3rem;
}

.dropdown-brand .p-dropdown-label {
  padding: 0.5rem 1rem;
  font-family: Roboto, sans-serif;
  font-size: 12px !important;
}

.wallet-row {
  & h4 {
    font-size: 16px;
    margin: 25px 0px 12px;
    padding: 0px;
  }
}

.add-recipient-card {
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 3px 6px #a7c9fa40;
  border-radius: 9px;
  padding: 0.75rem 1.5rem 1.25rem;
  & h4 {
    color: #001248;
    font-size: 16px;
    font-weight: 500;
    margin: 0.25rem 0 0.75rem;
  }
  & .addRecipientForm {
    & .formLabel {
      font-size: 14px;
      font-weight: 400;
      color: #3e3e3e;
    }

    & input {
      border: 1px solid #cecece;
      color: #707070 !important;
      letter-spacing: 0;
    }
  }
  & .add-recipient-text {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin: 0.25rem 0;
    color: #fc6b37;
    cursor: pointer;
  }
}

.reward-delivary-dropdown {
  & .p-dropdown {
    border: 1px solid #f0f0f0;
    box-shadow: 0px 3px 6px #a7c9fa50;
    height: 2.5rem;
  }
  & .p-dropdown-label {
    padding: 0.65rem 1rem;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #001248 !important;
  }
  & .p-dropdown-trigger-icon {
    color: #374baa;
    font-size: 12px;
  }
}
.grandTotal {
  & h5 {
    font-size: 16px;
    font-weight: 500;
    color: #001248;
    & span {
      color: #0eb700;
      font-size: 20px;
      font-weight: bold;
      padding-left: 0.25rem;
    }
  }
  .btn-main {
    margin: 0;
    & span {
      color: white;
    }
  }
}

.bulkUpload-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  & h5 {
    font-size: 16px;
    font-weight: 500;
    color: #001248;
    margin-bottom: 0.75rem;
  }
}

.fileUpload {
  position: relative;
  margin: 2px;
}

.fileUpload span {
  padding: 3px 0px;
  font-size: 12px;
  display: inline-block;
  & img {
    height: 30px;
  }
}

.applyctmb {
  background: red !important;
}

.fileUpload input.upload {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 2px;
  right: 0px;
  margin: auto;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.upload-inn-section h6 {
  font-size: 13px;
  font-weight: bold;
  color: #4b4b4b;
  margin: 1rem 0 0.25rem 0;
}
.upload-inn-section p {
  padding: 0;
  margin: 0px;
  color: #646464;
}

.upload-inn-section p b {
  color: #5194f7;
  font-weight: normal;
}

.upload-inn-section p u {
  color: #646464;
  font-size: 11px;
  display: block;
  text-decoration: none;
  padding: 0.125rem 0;
  & i {
    font-style: normal;
    color: #fc6b37;
  }
}

.upload-inn-section {
  background: #fdfeff;
  height: 155px;
  padding: 3px 10px 0px 10px;
  border: 2px dashed #a7c9fa;
  border-radius: 5px;
  text-align: center;
}

.p-chip-text {
  margin: 0.125rem 0.125rem 0.125rem 0.125rem;
  line-height: 1 !important;
  font-family: Roboto;
}

.reward-delivary {
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 3px 6px #a7c9fa40;
  border-radius: 9px;
  padding: 1rem 1.5rem 1.25rem;
  margin: 1.25rem 0;
}
.reward-delivary-header {
  & h4 {
    font-size: 14px;
    font-weight: 500;
    color: #001248;
    margin-bottom: 0.5rem;
  }
  & p {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0.25rem;
  }
  & input {
    height: 2.2rem;
    font-family: Roboto;
    width: 100%;
    border: 1px solid #cecece;
  }
}
.preview-section {
  margin: 1.25rem 0 1rem;
  & h4 {
    font-size: 14px;
    font-weight: 500;
    color: #001248;
    margin-bottom: 0.5rem;
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.preview-section .ul li:last-child {
  margin-right: 0;
}
.preview {
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000016;
  padding: 0.5rem 1rem;
  cursor: pointer;
  & img {
    margin-right: 0.5rem;
  }
  & span {
    font-size: 12px;
    color: #383838;
  }
}

.active-tab .preview {
  background-color: #6379e0;
  & span {
    color: white;
  }
}

.preview-body {
  margin: 1.25rem 0 1rem;
}

.laptop-preview-body .gift-preview-img {
  border-radius: 9px;
  & img {
    max-height: 225px;
    width: 100%;
    max-width: 100%;
  }
}

.laptop-preview-body .gift-card {
  border: 2px dashed #b5c2ff;
  padding: 1.25rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  display: flex;
  & .gift-card-brand {
    width: 140px;
    padding: 0;
    text-align: left;
    & img {
      width: 110px;
      object-fit: contain;
    }
  }
  & .gift-card-details {
    width: calc(100% - 140px);
    text-align: left;
    & h2 {
      font-size: 1.6rem;
      font-weight: 500;
      color: #001248;
      margin-bottom: 0.5rem;
    }
    & h3 {
      color: #0eb700;
      font-size: 1.125rem;
      font-weight: bold;
    }
    & p {
      font-size: 0.75rem;
      color: #434343;
      font-weight: 400;
      margin: 0.25rem 0;
    }
    & h5 {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }
}

.mobile-preview-body {
  max-width: 360px;
  margin: auto;
}

.mobile-preview-body .gift-preview-img {
  border-radius: 9px;
  & img {
    max-height: 225px;
    width: 100%;
    max-width: 100%;
  }
}

.mobile-preview-body .gift-card {
  border: 2px dashed #b5c2ff;
  padding: 1.25rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .gift-card-brand {
    width: 100%;
    margin-bottom: 0.75rem;
    text-align: center;
    & img {
      width: 75px;
      object-fit: contain;
      max-height: 75px;
    }
  }
  & .gift-card-details {
    // width: calc(100% - 140px);
    text-align: left;
    width: 100%;
    & h2 {
      // font-size: 1.6rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: #001248;
      margin-bottom: 0.5rem;
    }
    & h3 {
      color: #0eb700;
      font-size: 1rem;
      // font-size: 1.125rem;
      font-weight: bold;
    }
    & p {
      font-size: 0.75rem;
      color: #434343;
      font-weight: 400;
      margin: 0.25rem 0;
    }
    & h5 {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }
}
@media (max-width: 426px) {
  .reward-delivary {
    padding: 1rem;
  }
  .gift-card {
    flex-direction: column;
    justify-content: center;
    & .gift-card-brand {
      width: 100%;
      margin-bottom: 0.75rem;
      text-align: center;
      & img {
        max-height: 110px;
      }
    }
    & .gift-card-details {
      width: 100%;
      & h2 {
        font-size: 1.2rem;
      }
      & h3 {
        font-size: 1rem;
      }
    }
  }
}
