.walletWiseInfo-dropdown {
  height: 33px;
  font-family: Roboto, sans-serif;
  max-width: 13rem;
  min-width: 10rem;
  padding: 0 0rem 0 0;
  margin: 0;
  .p-dropdown-label {
    font-family: Roboto, sans-serif;
    padding: 0.5rem 0.5rem;
  }
  .p-dropdown-trigger {
    width: 2rem;
    .p-dropdown-trigger-icon {
      font-size: 12px;
    }
  }
}
.p-dropdown-item {
  font-size: 12px;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}
