@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import './../src/assets/css/bootstrap.min.css';
@import './../src/assets/css/fontawesome.min.css';
@import './../src/assets/css/style.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Segoe UI', 'sans-serif', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* custom class */
.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfect-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.perfect-left-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.perfect-right-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.perfect-left-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.perfect-right-column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.space-bw-left-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.space-bw-left-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.space-bw-right-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.col-offset-right-8 {
  margin-right: 66.66666667%;
}
.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-text-table {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
  max-width: 250px;
  display: inline-block;
}
/* custom class */

/*****************************scrollbar design******************************/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(51, 42, 42, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #919191;
}
/*****************************scrollbar design******************************/

/*****************************tab styling******************************/
.tab-header {
  padding: 0px 0px;
}
.tab-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd9;
  width: 100%;
}
.tab-header ul li {
  display: inline-block;
  font-size: 13px;
  color: #6e6e6e;
  line-height: 1;
  padding: 0.55rem 1rem;
  background: 0 0;
  border: 2px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  transition: 0.25s;
  margin-bottom: -1px;
}
.tab-header ul li:hover {
  border-color: transparent transparent #2f6295;
  background: #e9ecef;
}
.tab-header .tab {
  font-weight: 500;
  cursor: pointer;
}
.tab-header .active-tab {
  color: #374baa;
  cursor: pointer;
  font-weight: 500;
  border-color: white white #2f6295;
}

.content {
  display: none;
  transition: 0.25s;
}
.active-content {
  display: block;
  margin: 5px 0px 0px;
  transition: 0.25s;
}
/*****************************tab styling******************************/

/*****************************Popup Design******************************/
.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}
.popup-body {
  width: calc(100% - 200px);
  box-shadow: 3px 3px 10px #96969660;
  position: relative;
  overflow: hidden;
  left: 200px;
  border-radius: 5px;
  background-color: white;
  height: 100vh;
}

.popup-header {
  background-color: #f2ebeb;
  color: black;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 42px;
}
.popup-heading {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 1;
  margin: 0;
  padding-left: 0.5rem;
}
.popup-close {
  height: 25px;
  border-radius: 50%;
  /* background-color: white;
  box-shadow: 0px 3px 6px #00000016; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-size: 25px;
}
.popup-right-close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-size: 25px;
}

.popup-content {
  padding: 1rem;
  height: calc(100vh - 87px);
  overflow: auto;
  background-color: white;
}

.popup-body .popup-right-close {
  display: none;
}

.md-popup-body .pi-angle-left {
  display: none !important;
}

.md-popup-body .popup-content {
  max-height: calc(100vh - 250px);
}

.md-popup-body .popup-right-close {
  display: flex;
  width: 20px;
}

.popup-lower-btn {
  height: 42px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ddd;
}
.popup-lower-btn button {
  padding: 5px 10px;
  height: 30px;
  line-height: 1;
  margin: 0px 5px;
  font-size: 12px;
}
.sm-popup-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10020;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sm-popup-body {
  max-width: 90%;
  min-width: 450px;
  box-shadow: 3px 3px 10px #96969660;
  position: relative;
  border-radius: 5px;
  background-color: white;
  max-height: 350px;
}
.sm-popup-close {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 12px;
  cursor: pointer;
}
.sm-popup-close .pi {
  font-size: 12px;
}

.sm-popup-content {
  padding: 1rem 1.5rem;
  min-height: 170px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
.sm-popup-content h6 {
  font-size: 14px;
  margin: 0 0 0.5rem 0;
}
.sm-popup-content input {
  height: 2.2rem;
  border: 1px solid #cecece;
  border-radius: 6px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #707070;
  width: 100%;
  margin: 0.75rem 0 1rem;
}
.sm-popup-content .btn-main {
  margin: 0;
  float: right;
  margin-top: 10px;
}
@media (max-width: 769px) {
  .popup-body {
    right: 0px !important;
    left: 40px !important;
    width: calc(100% - 40px) !important;
    overflow: auto;
    height: 100vh;
    top: 0px;
  }
  .md-popup-body {
    left: 0px !important;
    right: 0px !important;
  }
  .popup-content {
    height: calc(100vh - 87px);
    overflow-x: hidden;
  }
}
/*****************************Popup Design******************************/

.global-tablestyle
  table
  thead
  tr
  th.p-column-header-content
  span.p-colum-title {
  width: 100px;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.data-pr-tooltip {
  font-size: 11px !important;
}
.p-tooltip .p-tooltip-text {
  white-space: pre-line;
  word-break: break-word;
  font-size: 12px;
  padding: 0.35rem 0.65rem;
  font-family: Roboto;
  letter-spacing: 0.3px;
  line-height: 1;
}

.p-datatable-thead:nth-child(2).p-filter-column {
  background: #ffffff !important;
  padding: 4px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  padding: 0.25rem 0.55rem !important;
  font-size: 12px;
  color: #d64444 !important;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
  font-size: 12px;
  border-bottom: 1px solid #e2e2e2 !important;
  padding: 0.45rem 0.55rem !important;
}

/* ======common-md-popup========= */

.md-popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-popup-body {
  max-width: 900px;
  left: 0px;
  height: auto;
}

.p-dropdown-label {
  font-size: 12px;
  padding: 7px;
}

.p-inputtext {
  font-size: 13px !important;
  font-weight: 400 !important;
}

.p-tabview-panels {
  padding: 10px !important;
}

/*********************************** Action Pencil *************************************/
.actionPencilImg {
  cursor: pointer;
  height: 18px !important;
  width: 18px !important;
  border: none !important;
  margin: 0 !important;
  padding: 2px !important;
}
.clickable-span {
  text-decoration: underline;
  padding: 0 5px;
  color: blue;
  cursor: pointer;
}
.non-clickable-span {
  text-decoration: none;
  padding: 0 5px;
  color: blue;
  cursor: text;
}
.spanStyle {
  font-weight: 500;
}
.walletTable span {
  color: #303d57;
}
.walletTableImg {
  display: inline-block;
}

.add-recharge-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add-recharge-div .plus-icon {
  height: 17px;
  width: 17px;
  background-color: #5a6edd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-recharge-div .pi {
  font-size: 9px;
  color: white;
  line-height: 1;
}
.add-recharge-div span {
  font-size: 11px;
  font-weight: 400;
  padding-left: 0.25rem;
}

.generalCoupon-bg {
  background-color: #5ed19e;
}
.foodCoupon-bg {
  background-color: #f6a25f;
}
.fuelCoupon-bg {
  background-color: #7399f8;
}

/*********************************** Action Pencil *************************************/

/************************************** Media Query ******************* */
@media (max-width: 769px) {
  .tab-header ul li {
    line-height: 1;
    margin-right: 0.25rem;
  }
}
/************************************** Media Query ******************* */

.p-dropdown .p-focus {
  box-shadow: none !important;
}

.p-component {
  font-family: Roboto, sans-serif !important;
}
.p-chip-text {
  font-size: 0.75rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1 !important;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

/* dropdown */
.inventoryPaymentDropdown {
  font-family: Roboto;
}

.inventoryPaymentDropdown .p-dropdown {
  margin: 0.25rem 0px 1rem;
  height: 2.2rem;
  width: 100%;
  font-family: Roboto;
}

.inventoryPaymentDropdown .p-dropdown-label {
  font-family: Roboto, sans-serif;
  padding: 0.5rem 0.5rem;
}

.inventoryPaymentDropdown .p-dropdown-item {
  font-size: 12px;
}

.inventoryPaymentDropdown .p-dropdown .p-dropdown-trigger {
  width: 2rem;
}

/* Action column style */
.brandTable table thead tr th:first-child {
  max-width: 110px !important;
}
.brandTable table thead tr th:first-child .p-column-title {
  width: 100%;
  text-align: center;
}
.brandTable table tbody tr td:first-child {
  max-width: 110px !important;
}

.aggregatorManageUserTable table thead tr th:first-child {
  max-width: 110px !important;
}
.aggregatorManageUserTable table thead tr th:first-child .p-column-title {
  width: 100%;
  text-align: center;
}
.aggregatorManageUserTable table tbody tr td:first-child {
  max-width: 110px !important;
}

.superAdminManageUserTable table thead tr th:first-child {
  max-width: 110px !important;
}
.superAdminManageUserTable table thead tr th:first-child .p-column-title {
  width: 100%;
  text-align: center;
}
.superAdminManageUserTable table tbody tr td:first-child {
  max-width: 110px !important;
}

.rechargeRequestTable table thead tr th:first-child {
  max-width: 110px !important;
}
.rechargeRequestTable table thead tr th:first-child .p-column-title {
  width: 100%;
  text-align: center;
}
.rechargeRequestTable table tbody tr td:first-child {
  max-width: 110px !important;
}
.icon-ui677{
  text-align: end;
  cursor: pointer;
}
.pd-10{
  padding: 10px;
}
.pd-10-t-0{

    padding: 10px;
    padding-top: 0px;

}
.mg-12-t{
  margin-top: 2.5%;
}

th:first-child, td:first-child {
  position: sticky !important;
}

InputSwitch{
  display: flex;
}

/*  table */

.p-datatable-resizable .p-resizable-column {
  background-color: #ffc900 !important;
  color: black !important;
}

  /*  tabs */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: #ffc900 !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar{
  background-color: #ffc900 !important;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link{
  background-color: black;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
  box-shadow: none !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  border-color: #e3e3e3  !important;
}

 /*  switch */
 .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #ffc900 !important;
}

.p-button{
  border: none !important;
}
.p-tabview .p-tabview-nav{
  font-size: 14px !important;
}

.p-toast .p-toast-message .p-toast-message-content{
  padding: 10px !important;
}