.aggregator-dashboard {
  padding: 0px 5px;
}

.available-card-box {
  background: #4367f9;
  border: none;
  border-radius: 10px;
  height: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  color: white;
  margin: 0px 10px 10px 0px;
}
.available-card-details {
  width: 65%;
  & p {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0px 7px;
  }
  & h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 7px 0 0 0;
  }
  & .detail-transcation-btn {
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 12px;
    margin-top: 15px;
    color: white;
    background-color: inherit;
  }
}
.available-card-img {
  width: 35%;
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.coupon-card {
  border: none;
  border-radius: 10px;
  min-height: 105px;
  padding: 0.8rem 1rem;
  color: white;
  margin: 0px 5px 10px;
  box-shadow: 0px 3px 6px #d3d6ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  & img {
    height: 35px;
    width: 42px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  & h4 {
    font-size: 25px;
    font-weight: bold;
    margin: 0.15rem 0 0.15rem 0;
    letter-spacing: -0.2px;
  }
  h6 {
    font-size: 12px;
    font-weight: 300;
    margin: 0.25rem 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    & span {
      font-weight: 400;
    }
  }
}
.textWithImg {
  font-size: 15px;
  font-weight: 500;
  margin: 0px 0px 5px;
  padding: 0;
  line-height: 1.1;
  width: calc(100% - 30px);
}

.aggregator-dashboard .row .col-lg-3:last-child .coupon-card {
  margin-right: 0;
}
.aggregator-dashboard .row .col-lg-3:first-child .coupon-card {
  margin-left: 0;
}
.available-card {
  background-color: #4367f9;
}
.reedemed-amount-card {
  background: #f5a25e;
}
.credit-amount-card {
  background: #39c1ad;
}
.last-recharge-card {
  background: #374baa;
}

.aggregator-dashboard-table {
  margin: 5px 0px 5px;
}

.text-success {
  color: #1bb71f;
  font-weight: bold !important;
}
.text-danger {
  color: #cb0814;
  font-weight: bold !important;
}

@media (max-width: 1024px) {
  .available-card-box {
    margin: 0px 7px;
  }
  .coupon-card {
    margin: 7px 7px;
  }
  .aggregator-dashboard .row .col-lg-2:last-child .coupon-card {
    margin-right: 7px;
  }
}

@media (max-width: 426px) {
  .aggregator-dashboard {
    padding: 5px;
  }
  .coupon-card {
    margin: 5px 0px;
  }
  .aggregator-dashboard .row .col-lg-3:first-child .coupon-card {
    margin: 5px 0px;
  }
  .wallet-card {
    margin: 0px 0px 10px;
  }
  .textWithImg {
    font-size: 18px;
    letter-spacing: 0;
  }
  .card-logo {
    width: 120px;
    & p {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .wallet-details {
    width: calc(100% - 120px);
  }
}
.aggregator-reports-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reward-apiTab {
  margin: 0.85rem 0;
}
.formItem {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 3px 6px #a7c9fa66;
  border-radius: 10px;
  padding: 0.75rem 1rem 1rem;
  margin: 0.5rem;
  height: calc(100% - 1rem);

  & h4 {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #001248;
    margin-bottom: 0.75rem;
  }

  & h6 {
    font-size: 14px;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 0.65rem;
  }

  & input {
    height: 2.2rem;
    border: 1px solid #cecece;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #707070;
    width: 100%;
    margin: 0.25rem 0;
  }

  & p {
    color: #fc6b37;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1;
    margin: 0.75rem 0 0.5rem;
    line-height: 1;
    text-align: right;
    cursor: pointer;
  }

  & .formItem-btn {
    font-size: 12px;
    line-height: 1;
    background-color: #374baa;
    color: white;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    border: none;
    outline: none;
    margin: 0.25rem 0;
  }

  & label {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 450;
    display: block;
    margin-bottom: 0.25rem;
    padding-right: 0.25rem;

    & span {
      float: right;
      cursor: pointer;
    }
  }
}
.formItem-btn {
  font-size: 12px;
  line-height: 1;
  background-color: #374baa;
  color: white;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  margin: 0.25rem 0;
}
.storefrontURL {
  & p {
    margin: 0.75rem 0 0.5rem;
    line-height: 1;
    text-align: right;

    & a {
      color: #fc6b37;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      line-height: 1;
    }
  }
}

.formItem .p-inputtext:enabled:focus {
  box-shadow: none;
}
